	
/*---------------------------------- popin_g style de base -----------------------------------------------------------------------*/
.popin_g{
	display : none;
	position : fixed;
	left : 0;
	top : 0;
	width : 100%;
	height : 100%;
	z-index : 1010;
	background-color : rgba(55,55,55,0.8);
}
.popin_g_container{
	margin-top : 190px;
}
.popin_g_box{
	position : relative;
	display : none;
	max-width : 600px;
	margin : auto;
	padding : 40px 30px 40px 30px;
	border-radius : 6px;
	background-color : #FFFFFF;
	text-align : center;
	color : #8A8A8C;
	font-size : 16px;
	line-height : 19px;
	box-shadow : 0 10px 20px 0 rgba(0,0,0,0.5);
}
.popin_g_box_first{
	display : block;
}
.popin_g_close{
	position : absolute;
	top : 10px;
	right : 10px;
	padding: 10px;
	color : #B0B0B0;
	font-size : 16px;
	cursor : pointer;
}
.popin_img_url{
	width : 85px;
	height : 85px;
	border-radius : 50px;
	margin : auto;
	background-position : center;
	background-size : cover;
	margin-bottom: 20px;
}
.popin_g_title{
	margin-bottom : 20px;
	color : #373737;
	font-size : 20px;
	font-weight : bold;
	line-height : 24px;
}
.popin_g_sub_title{
	margin-bottom : 20px;
	color : #373737;
	font-size : 20px;
	font-weight : bold;
	line-height : 24px;
}
.popin_g_html, .popin_g_html p, .popin_g_html span, .popin_g_html div{
	font-size : 16px;
	margin-bottom : 0;
}
.popin_g_buttons{
	
}
.popin_g_button{
	min-width : 170px;
	margin : auto;
	margin-top : 40px;
	padding : 10px 15px 10px 15px;
	border-radius : 5px;
	border-color : transparent;
	background-color : #FF0066;
	color : #FFFFFF;
	font-family : helvetica; /*"open sans"*/
	font-size : 11px;
	line-height : 15px;
	font-weight : bold;
	text-transform : uppercase;
	cursor : pointer;
	margin-left : 5px;
	margin-right : 5px;
}
.popin_g_button:hover, .popin_g_button:focus, .popin_g_button:active{
	color : #FFFFFF;
	border-color : transparent;
}
.popin_g_dots{
	padding-top : 20px;
}
.popin_g_dot{
	display : inline-block;
	height : 8px;
	width : 8px;
	border-radius : 50px;
	margin-left : 8px;
	margin-right : 8px;
	background-color : #D7D7D9;
}
.popup_g_icon{
	display : none;
	width : 85px;
	height : 85px;
	border-radius : 50px;
	margin : auto;
	background-position : center;
	background-size : cover;
}
.popup_g_title{
	margin-bottom : 20px;
	color : #373737;
	font-size : 20px;
	font-weight : bold;
	line-height : 24px;
}

/*---------------------------------- premium_offer -----------------------------------------------------------------------*/
.premium_offer{
	margin-top : 15px;
	color : #ff0066;
	font-weight : bold;			
}
.popin_g_dot_highlighted{
	background-color : #FF0066;
}

/*---------------------------------- responsive -----------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
	.popin_g_container{
		margin-top : 20%;
	}
	.popin_g_box{
		max-width:100%;
		margin-left:5px;
		margin-right:5px;
	}
}
@media screen and (max-width: 480px) { /*Iphone 4 landscape*/
	.popin_g_container{
		margin-top : 65px;
	}
	.popin_g_close{
		top : 0px;
		right : 0px;
	}
}

/*------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------- style propre à chaque popin ---------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------- premium_offer -----------------------------------------------------------------------*/
.premium_offer{
	margin-top : 15px;
	color : #ff0066;
	font-weight : bold;
}
.premium_offer_after{
	color : #ff0066;
	font-size : 12px;
	font-weight : normal;
}
.premium_exclamation{
	font-style : italic;
}

.popin_certif_steps{text-align:center;}
.popin_certif_step_item{height:8px;width:8px;background-color:#FF0066;}
