/*---------------------------------- style global -----------------------------------------------------------------------*/
.premium_exclamation{font-style:italic;}

/*---------------------------------- pop ups -----------------------------------------------------------------------*/
.popin_certif{display:none;position:fixed;left:0;top:0;width:100%;height:100%;z-index:1005;background-color:rgba(55,55,55,0.8);}
.popin_certif_box{position:relative;max-width:600px;margin:auto;margin-top:190px;padding:40px 30px 40px 30px;border-radius:16px;background-color:#FFFFFF;text-align:center;color:#8A8A8C;font-size:16px;line-height:19px;box-shadow:0 10px 20px 0 rgba(0,0,0,0.5);}
.popin_certif_close{position:absolute;top:15px;right:15px;color:#B0B0B0;font-size:18px;cursor:pointer;padding:10px;}
.popin_certif_slides_html{font-size:16px;}
.popin_certif_slides_html p,.popin_certif_slides_html span,.popin_certif_slides_html div{font-size:16px;}
.popin_certif_button,.popin_certif_button:disabled{margin-top:40px;}
.popin_certif_image{display:none;width:50px;height:50px;border-radius:50px;margin:auto;background-position:center;background-size:cover;}
.popin_certif_icon{display:none;width:85px;height:85px;border-radius:50px;margin:auto;background-position:center;background-size:cover;margin-bottom:20px;image-rendering: -webkit-optimize-contrast;}
.popin_certif_title{margin-bottom:20px;color:#373737;font-size:20px;font-weight:bold;line-height:24px;}
.popin_certif_button--back{margin-right: 8px;}
.popin_certif_button{border: none;}
.popin_certif_button:hover,.popin_certif_button:active,.popin_certif_button:focus{border:none;outline:none;}
.popin_certif_button:active{background: #e5007c;background: -webkit-linear-gradient(45deg, #e6007a, #eb7575);background: linear-gradient(45deg, #e6007a, #eb7575);}
.popin_certif_button--back:active{background: none;}

/*---------------------------------- premium_offer -----------------------------------------------------------------------*/
.premium_offer{margin-top:15px;color:#ff0066;font-weight:bold;}
.premium_offer_after{color:#ff0066;font-size:12px;font-weight:normal;}

/*---------------------------------- responsive -----------------------------------------------------------------------*/
@media screen and (max-width:767px){
	.popin_certif{overflow:scroll;}
	.popin_certif_box{max-width:100%;margin-top:20%;margin-left:5px;margin-right:5px;}
}
@media screen and (max-width:480px){

	/*Iphone 4 landscape*/
	.popin_certif_box{margin-top:65px;}
	.popin_certif_close{top:20px;right:20px;}
}
.popin_certif_steps{text-align:center;margin-top:20px;}
.popin_certif_step_item{height:8px;width:8px;background-color:#D7D7D9;display:inline-block;border-radius:50px;margin:0 5px;}
.popin_certif_step_item.active{background-color:#FF0066;}
.input_certification{width:250px;text-align:left;margin:auto;margin-top:20px;}
.input_certification_item{text-transform: uppercase;}
.input_certification>.input_certification_label{color:#616161;font-size:11px;font-weight:bold;text-transform:uppercase;margin-bottom:5px;display:block;}
.input_certification>.input_certification_wrapper{display:block;height:50px;border:1px solid #EDEFED;border-radius:6px;background-color:#F4F4F4;}
.input_certification>.input_certification_wrapper>input{background-color:#F4F4F4;border:none;font-size:16px;color:#373737;height:50px;width:250px;padding:0 15px;letter-spacing:1px;}
.input_certification>.input_certification_wrapper>input:focus{outline-color:#0a95b2;}
.popin_certif_warning{border:1px solid #FF4D4D;border-radius:3px;background-color:rgba(255,77,77,0.1);color:#FF4D4D;padding:10px 15px;margin-bottom:10px;}
.popin_certif_warning>i{width:20px;height:20px;font-size:20px;margin-right:10px;margin-bottom:5px;}
.popin_certif_warning>i,.popin_certif_warning>span{display:inline-block;vertical-align:middle;}
.popin_certif_warning>span{text-align:left;width:475px;}
.popin_certif_info{border:1px solid #0A95B2;border-radius:3px;background-color:rgba(10,149,178,0.2);color:#0A95B2;padding:10px 15px;margin-bottom:10px;}
.popin_certif_info>i{width:20px;height:20px;font-size:20px;margin-right:10px;margin-bottom:5px;}
.popin_certif_info>i,.popin_certif_info>span{display:inline-block;vertical-align:middle;}
.popin_certif_info>span{text-align:left;width:475px;}
@media screen and (max-width: 480px){
	.input_certification{width:auto;}
	.input_certification>.input_certification_wrapper>input{width:100%;}
}