/*--------------------------------

AV-icons Web Font - built using nucleoapp.com
License - nucleoapp.com/license/

-------------------------------- */
@font-face {
  font-family: 'AV-icons';
  src: url('../fonts/AV-icons.eot');
  src: url('../fonts/AV-icons.eot') format('embedded-opentype'), url('../fonts/AV-icons.woff2') format('woff2'), url('../fonts/AV-icons.woff') format('woff'), url('../fonts/AV-icons.ttf') format('truetype'), url('../fonts/AV-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------
	base class definition
-------------------------*/
.icon-icon {
  display: inline-block;
  font: normal normal normal 14px/1 'AV-icons';
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*------------------------
  change icon size
-------------------------*/
.icon-icon.lg {
  font-size: 1.33333333em;
  vertical-align: -16%;
}
.icon-icon.x2 {
  font-size: 2em;
}
.icon-icon.x3 {
  font-size: 3em;
}
/*----------------------------------
  add a square/circle background
-----------------------------------*/
.icon-icon.square,
.icon-icon.circle {
  padding: 0.33333333em;
  vertical-align: -16%;
  background-color: #eee;
}
.icon-icon.circle {
  border-radius: 50%;
}
/*------------------------
  list icons
-------------------------*/
.icon-icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.icon-icon-ul > li {
  position: relative;
}
.icon-icon-ul > li > .icon-icon {
  position: absolute;
  left: -1.57142857em;
  top: 0.14285714em;
  text-align: center;
}
.icon-icon-ul > li > .icon-icon.lg {
  top: 0;
  left: -1.35714286em;
}
.icon-icon-ul > li > .icon-icon.circle,
.icon-icon-ul > li > .icon-icon.square {
  top: -0.19047619em;
  left: -1.9047619em;
}
/*------------------------
  spinning icons
-------------------------*/
.icon-icon.spin {
  -webkit-animation: icon-icon-spin 2s infinite linear;
  -moz-animation: icon-icon-spin 2s infinite linear;
  animation: icon-icon-spin 2s infinite linear;
}
@-webkit-keyframes icon-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes icon-icon-spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes icon-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*------------------------
  rotated/flipped icons
-------------------------*/
.icon-icon.rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icon-icon.rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.icon-icon.rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.icon-icon.flip-y {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.icon-icon.flip-x {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
/*------------------------
	font icons
-------------------------*/

.icon-answer::before {
    content: "\ea01";
}

.icon-arrow-bottom::before {
    content: "\ea02";
}

.icon-arrow-left::before {
    content: "\ea03";
}

.icon-arrow-right::before {
    content: "\ea04";
}

.icon-arrow-up::before {
    content: "\ea05";
}

.icon-briefcase::before {
    content: "\ea06";
}

.icon-calendar::before {
    content: "\ea07";
}

.icon-caret-down::before {
    content: "\ea08";
}

.icon-caret-left::before {
    content: "\ea09";
}

.icon-caret-right::before {
    content: "\ea0a";
}

.icon-caret-up::before {
    content: "\ea0b";
}

.icon-flash::before {
    content: "\ea0c";
}

.icon-location-2::before {
    content: "\ea0d";
}

.icon-location::before {
    content: "\ea0e";
}

.icon-mail::before {
    content: "\ea0f";
}

.icon-man::before {
    content: "\ea10";
}

.icon-menu::before {
    content: "\ea11";
}

.icon-people::before {
    content: "\ea12";
}

.icon-pin::before {
    content: "\ea13";
}

.icon-search::before {
    content: "\ea14";
}

.icon-tools::before {
    content: "\ea15";
}


/* all icon font classes list here */
