@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?rqxq9m");
  src: url("../fonts/icomoon.eot?rqxq9m#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?rqxq9m") format("truetype"), url("../fonts/icomoon.woff?rqxq9m") format("woff"), url("../fonts/icomoon.svg?rqxq9m#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-down:before {
  content: "\e900"; }

.icon-arrow-left:before {
  content: "\e901"; }

.icon-arrow-right:before {
  content: "\e902"; }

.icon-arrow-up:before {
  content: "\e903"; }

.icon-calendar:before {
  content: "\e904" !important; }

.icon-check:before {
  content: "\e905"; }

.icon-chevron-down:before {
  content: "\e909"; }

.icon-layers:before {
  content: "\e906"; }

.icon-map-pin:before {
  content: "\e907"; }

.icon-message-circle:before {
  content: "\e908"; }

body {
  overflow-x: hidden; }

#menubar {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, transparent 100%) !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: none;
  padding: 10px 40px; }
  #menubar .menubar__navLink {
    color: #fff;
    font-size: 14px;
    padding: 8px 22px; }
    #menubar .menubar__navLink:hover {
      color: #e5007c; }
    #menubar .menubar__navLink.signin {
      background: #95e077;
      border-radius: 35px;
      padding-left: 45px;
      position: relative;
      margin-left: 15px; }
      #menubar .menubar__navLink.signin img {
        position: absolute;
        left: -8px;
        top: -10px;
        width: 40px; }
      #menubar .menubar__navLink.signin:hover {
        background: #75d74d;
        color: #fff; }

.menubar__mobileNav #menubar__mobileActionDropdown {
  position: relative; }
  .menubar__mobileNav #menubar__mobileActionDropdown .menubar__avatarOverlayIcon span {
    background-color: #fff;
    position: absolute;
    left: 9px;
    top: 0;
    width: 30px;
    transition: all 0.3s ease; }
    .menubar__mobileNav #menubar__mobileActionDropdown .menubar__avatarOverlayIcon span:before, .menubar__mobileNav #menubar__mobileActionDropdown .menubar__avatarOverlayIcon span:after {
      display: none; }
    .menubar__mobileNav #menubar__mobileActionDropdown .menubar__avatarOverlayIcon span:nth-child(1) {
      top: 10px; }
    .menubar__mobileNav #menubar__mobileActionDropdown .menubar__avatarOverlayIcon span:nth-child(2), .menubar__mobileNav #menubar__mobileActionDropdown .menubar__avatarOverlayIcon span:nth-child(3) {
      top: 18px;
      -webkit-transform-origin: center center;
              transform-origin: center center; }
    .menubar__mobileNav #menubar__mobileActionDropdown .menubar__avatarOverlayIcon span:nth-child(4) {
      top: 26px;
      -webkit-transform-origin: right center;
              transform-origin: right center; }
  .menubar__mobileNav #menubar__mobileActionDropdown.active .menubar__avatarOverlayIcon span:nth-child(1), .menubar__mobileNav #menubar__mobileActionDropdown.active .menubar__avatarOverlayIcon span:nth-child(4) {
    width: 0; }
  .menubar__mobileNav #menubar__mobileActionDropdown.active .menubar__avatarOverlayIcon span:nth-child(2) {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg); }
  .menubar__mobileNav #menubar__mobileActionDropdown.active .menubar__avatarOverlayIcon span:nth-child(3) {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg); }

#menubar__mobileNavDropdown {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh !important;
  background-color: #95e077;
  -webkit-animation: none;
          animation: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  #menubar__mobileNavDropdown ul li {
    text-align: center;
    margin: 22px 0; }
    #menubar__mobileNavDropdown ul li a {
      font-size: 22px;
      color: #fff;
      position: relative;
      display: inline-block;
      padding: 0; }

.btn--green {
  padding: 0 15px;
  height: 42px;
  font-size: 15px;
  background: #95e077;
  border: none; }
  .btn--green:before, .btn--green:after {
    display: none; }
  .btn--green:hover {
    background: #75d74d;
    box-shadow: none;
    border: none; }
    .btn--green:hover:before, .btn--green:hover:after {
      display: none; }

.ily-main-container {
  padding-top: 0; }

input:focus {
  outline: none; }

.lastSearches__cardLink {
  position: relative !important;
  display: block; }
  .lastSearches__cardLink:hover {
    text-decoration: none !important; }

.topNeighbors {
  background: linear-gradient(135deg, #96e077 0%, #52cd7d 100%) !important; }
  .topNeighbors h2 {
    color: #FFFFFF; }

@media (max-width: 767px) {
  body #home-top .container_home_top h1 {
    font-size: 30px;
    margin-top: 90px; }
  #sliderAlloVoisins {
    position: absolute;
    height: auto; } }

h2 {
  font-size: 38px;
  position: relative;
  padding-bottom: 15px; }
  h2:after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #95e077;
    position: absolute;
    bottom: 0;
    right: calc(50% - 15px); }

#home-top {
  padding-top: 50px; }
  #home-top .container_home_top h1 {
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); }
  #home-top .container_home_top .label h3 {
    font-size: 30px; }
  #home-top .container_home_top .home-search {
    width: 900px;
    max-width: 100%;
    margin: 0 auto; }
    #home-top .container_home_top .home-search .top {
      width: 100%;
      background-color: #fff;
      display: flex;
      padding: 15px;
      border-radius: 6px;
      position: relative;
      z-index: 1; }
      #home-top .container_home_top .home-search .top input {
        flex: 1;
        border: none;
        font-size: 16px;
        font-weight: 500; }
      #home-top .container_home_top .home-search .top button {
        padding: 10px 15px;
        height: 38px;
        font-size: 15px; }
    #home-top .container_home_top .home-search .bottom {
      width: 100%;
      padding: 0 25px; }
      #home-top .container_home_top .home-search .bottom .inner {
        background-color: #fff;
        padding: 15px;
        border-radius: 0 0 6px 6px;
        box-shadow: inset 0px 7px 7px 0px rgba(0, 0, 0, 0.05);
        display: flex; }
        #home-top .container_home_top .home-search .bottom .inner label {
          flex: 1;
          position: relative; }
          #home-top .container_home_top .home-search .bottom .inner label input {
            width: 100%;
            border: none;
            padding-left: 28px;
            font-weight: 500; }
          #home-top .container_home_top .home-search .bottom .inner label span {
            position: absolute;
            bottom: 0;
            font-size: 20px;
            color: #e5007c; }
            #home-top .container_home_top .home-search .bottom .inner label span.icon-chevron-down {
              right: 0; }
        #home-top .container_home_top .home-search .bottom .inner .category-trigger {
          padding-left: 28px;
          font-weight: 500;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none; }
    #home-top .container_home_top .home-search .categories {
      padding: 0 25px;
      position: absolute;
      width: 900px;
      max-width: 100%; }
      #home-top .container_home_top .home-search .categories .inner {
        background-color: #fff;
        border-radius: 6px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0px 25px 42px 0px rgba(0, 0, 0, 0.08); }
      #home-top .container_home_top .home-search .categories ul {
        width: 100%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        padding: 25px; }
        #home-top .container_home_top .home-search .categories ul li {
          width: 20%;
          line-height: 28px; }
          #home-top .container_home_top .home-search .categories ul li a {
            font-variant: none;
            transition: all 0.2s ease;
            font-weight: 500; }
            #home-top .container_home_top .home-search .categories ul li a:hover {
              color: #95e077; }
