@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?rqxq9m');
  src: url('../fonts/icomoon.eot?rqxq9m#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?rqxq9m') format('truetype'),
  url('../fonts/icomoon.woff?rqxq9m') format('woff'),
  url('../fonts/icomoon.svg?rqxq9m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}

.icon-arrow-left:before {
  content: "\e901";
}

.icon-arrow-right:before {
  content: "\e902";
}

.icon-arrow-up:before {
  content: "\e903";
}

.icon-calendar:before {
  content: "\e904" !important;
}

.icon-check:before {
  content: "\e905";
}

.icon-chevron-down:before {
  content: "\e909";
}

.icon-layers:before {
  content: "\e906";
}

.icon-map-pin:before {
  content: "\e907";
}

.icon-message-circle:before {
  content: "\e908";
}
