h2 {
  font-size: 38px;
  position: relative;
  padding-bottom: 15px;
  &:after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: $green;
    position: absolute;
    bottom: 0;
    right: calc(50% - 15px);
  }
}

#home-top {
  padding-top: 50px;
  .container_home_top {
    h1 {
      color: #fff;
      text-align: center;
      font-size: 60px;
      font-weight: 700;
      text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }
    .label{
      h3{
        font-size: 30px;
      }
    }
    .home-search {
      width: 900px;
      max-width: 100%;
      margin: 0 auto;
      .top {
        width: 100%;
        background-color: #fff;
        display: flex;
        padding: 15px;
        border-radius: 6px;
        position: relative;
        z-index: 1;
        input {
          flex: 1;
          border: none;
          font-size: 16px;
          font-weight: 500;
        }
        button {
          padding: 10px 15px;
          height: 38px;
          font-size: 15px;
        }
      }
      .bottom {
        width: 100%;
        padding: 0 25px;
        .inner {
          background-color: #fff;
          padding: 15px;
          border-radius: 0 0 6px 6px;
          box-shadow: inset 0px 7px 7px 0px rgba(black, 0.05);
          display: flex;
          label {
            flex: 1;
            position: relative;
            input {
              width: 100%;
              border: none;
              padding-left: 28px;
              font-weight: 500;
            }
            span {
              position: absolute;
              bottom: 0;
              font-size: 20px;
              color: $pink;
              &.icon-chevron-down{
                right: 0;
              }
            }
          }
          .category-trigger{
            padding-left: 28px;
            font-weight: 500;
            user-select: none;
          }
        }
      }
      .categories{
        padding: 0 25px;
        position: absolute;
        width: 900px;
        max-width: 100%;
        .inner{
          background-color: #fff;
          border-radius: 6px;
          border-top: 1px solid rgba(black, 0.05);
          box-shadow: 0px 25px 42px 0px rgba(0,0,0,0.08);
        }
        ul{
          width: 100%;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          padding: 25px;
          li{
            width: 20%;
            line-height: 28px;
            a{
              font-variant: none;
              transition: all 0.2s ease;
              font-weight: 500;
              &:hover{
                color: $green;
              }
            }
          }
        }
      }
    }
  }
}


