body {
  overflow-x: hidden;
}

#menubar {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%) !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: none;
  padding: 10px 40px;
  .menubar__navLink {
    color: #fff;
    font-size: 14px;
    padding: 8px 22px;
    &:hover {
      color: $pink;
    }
    &.signin {
      background: $green;
      border-radius: 35px;
      padding-left: 45px;
      position: relative;
      margin-left: 15px;
      img {
        position: absolute;
        left: -8px;
        top: -10px;
        width: 40px;
      }
      &:hover {
        background: darken($green, 10%);
        color: #fff;
      }
    }
  }
}

.menubar__mobileNav {
  #menubar__mobileActionDropdown {
    position: relative;
    .menubar__avatarOverlayIcon {
      span {
        background-color: #fff;
        position: absolute;
        left: 9px;
        top: 0;
        width: 30px;
        transition: all 0.3s ease;
        &:before, &:after {
          display: none;
        }
        &:nth-child(1) {
          top: 10px;
        }
        &:nth-child(2), &:nth-child(3) {
          top: 18px;
          transform-origin: center center;
        }
        &:nth-child(4) {
          top: 26px;
          transform-origin: right center;
        }
      }
    }
    &.active {
      .menubar__avatarOverlayIcon {
        span {
          &:nth-child(1), &:nth-child(4) {
            width: 0;
          }
          &:nth-child(2) {
            transform: rotateZ(45deg);
          }
          &:nth-child(3) {
            transform: rotateZ(-45deg);
          }
        }
      }
    }
  }
}

#menubar__mobileNavDropdown {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh !important;
  background-color: $green;
  animation: none;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    li {
      text-align: center;
      margin: 22px 0;
      a {
        font-size: 22px;
        color: #fff;
        position: relative;
        display: inline-block;
        padding: 0;
      }
    }
  }
}

.btn--green {
  padding: 0 15px;
  height: 42px;
  font-size: 15px;
  background: $green;
  border: none;
  &:before, &:after {
    display: none;
  }
  &:hover {
    background: darken($green, 10%);
    box-shadow: none;
    border: none;
    &:before, &:after {
      display: none;
    }
  }
}

.ily-main-container {
  padding-top: 0;
}

input {
  &:focus {
    outline: none;
  }
}

.lastSearches__cardLink {
  position: relative !important;
  display: block;
  &:hover {
    text-decoration: none !important;
  }
}

.topNeighbors {
  background: linear-gradient(135deg, rgba(150, 224, 119, 1) 0%, rgba(82, 205, 125, 1) 100%) !important;
  h2 {
    color: #FFFFFF;
  }
}

@media (max-width: 767px) {

  body #home-top .container_home_top h1 {
    font-size: 30px;
    margin-top: 90px;
  }

  #sliderAlloVoisins {
    position: absolute;
    height: auto;
  }

}